*{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    
    overflow: hidden;
    animation: bgLoop 40s infinite;
}
#container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#content{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#header {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100vw;
    z-index: 1;
    height: 20vh;
}

#header img{
 width: 75vw;
 height: 15vh;
 
}

#main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 55vh;
}

#main button{
    background-color: greenyellow;
    width: 100px;
    height: 100px;
    border-radius: 20px
}

button{cursor: pointer;}

#main button img{
    width: 80px;
    height: 80px;
}

#main #play img{
    width: 100px;
    height: 100px;
}

#main #play{
    background-color: greenyellow;
    width: 130px;
    height: 130px;
}

.buttons{
    width: 30vw;
    z-index: 1;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
}

#animation{
    width: 100vw;
    height: 55vh;
    display: flex;
    align-items: flex-end;
    position: absolute;
}

#element1 img{
    position: relative;
    width: 5vw;
    height: 7vh;
    right: 80%;
    animation: cube 10s infinite;
}

#element2 img{
    position: relative;
    width: 4vw;
    height: 8vh;
    right: 230%;
    bottom: 45vh;
    animation: piramid 7s infinite ;
}

#bottom button img{
    width: 2.5vw;
    height: 4.5vh;
}

#bottom{
    position: relative;
    width: 100vw;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    animation: groundLoop 40s infinite;
}

#bottom button{
    position: relative;
    width: 3.5vw;
    height: 7vh;
    background-color: greenyellow;
    border-radius: 50px
}

#bottomButtons{
    position: absolute;
    z-index: 1;
    width: 23vw;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
}

#stripes{
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 200vw;
    height: 25vh;
    animation: slide 3.5s infinite;
}

.stripe{
    position: relative;
    height: 25vh;
    width: 20vw;
    animation: stripeLoop 40s infinite;
    box-shadow: 2px 2px 20px black;
}

.settingsBox {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items:center;
    position: absolute;
    height: 80vh;
    width: 70vw;
    left: -23vw;
    top: -200vh;
    padding: 0;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    border: solid greenyellow 10px;
    transition: 0.3s transform ease-in-out;
  }
  
.settingsBox .row{
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

.settingsBox a{
    text-align: center;
    background: greenyellow;
    color: rgb(255, 196, 0);
    font-size: 32px;
    width: 22vw;
    font-weight: bold;
    text-decoration: none;
    border-radius: 10px;
    border: solid white 4px;
    cursor: pointer;
}
    
#settings:focus ~ .settingsBox, .settingsBox:hover {
    transform: translatey(125vh); 
}  


#squareContainer{
    position: relative;
    animation: squareSlide 40s infinite;
}
.square{
    position: absolute;
    background: none;
    box-shadow: 2px 2px 20px black;
    animation: squareLoop 40s infinite;
}
#square1{
    left: -2%;
    height: 20vh;
    width: 30vw;
}
#square2{
    left: -5%;
    height: 40vh;
    width: 50vw;
}
#square3{
    top:35vh;
    left: -1%;
    height: 30vh;
    width: 10vw;
}
#square4{
    top:15vh;
    left: 15%;
    height: 40vh;
    width: 10vw;
}
#square5{
    top:44vh;
    left: 12%;
    height: 26vh;
    width: 30vw;
}
#square6{
    top:21vh;
    left: 30%;
    height: 46vh;
    width: 20vw;
}
#square7{
    top:6vh;
    left: 35%;
    height: 20vh;
    width: 30vw;
}
#square8{
    top:10vh;
    left: 53%;
    height: 40vh;
    width: 30vw;
}
#square9{
    top:30vh;
    left: 60%;
    height: 33vh;
    width: 18vw;
}
#square10{
    top:-10vh;
    left: 80%;
    height: 33vh;
    width: 23vw;
}
#square11{
    top:42vh;
    left: 80%;
    height: 26vh;
    width: 17vw;
}
#square12{
    top:30vh;
    left: 93%;
    height: 31vh;
    width: 15vw;
}
#square13{
    top:10vh;
    left: 100%;
    height: 24vh;
    width: 25vw;
}
#square14{
    top:50vh;
    left: 105%;
    height: 20vh;
    width: 30vw;
}
#square15{
    top:27vh;
    left: 115%;
    height: 28vh;
    width: 18vw;
}
#square16{
    top:-6vh;
    left: 122%;
    height: 30vh;
    width: 10vw;
}
#square17{
    top:-3vh;
    left: 137%;
    height: 30vh;
    width: 25vw;
}
#square18{
    top:20vh;
    left: 130%;
    height: 15vh;
    width: 25vw;
}
#square19{
    top:45vh;
    left: 140%;
    height: 20vh;
    width: 18vw;
}
#square20{
    top:15vh;
    left: 150%;
    height: 35vh;
    width: 20vw;
}
#square21{
    left: 180%;
    height: 10vh;
    width: 20vw;
}
#square22{
    left: 160%;
    top: 20vh;
    height: 40vh;
    width: 16vw;
}
#square23{
    top:35vh;
    left: 186%;
    height: 30vh;
    width: 10vw;
}
#square24{
    top:5vh;
    left: 172%;
    height: 40vh;
    width: 10vw;
}


@keyframes slide {
    0% {left: 0%;}
    2% {left: -2%;}
    4% {left: -4%;}
    6% {left: -6%;}
    8% {left: -8%;}
    10% {left: -10%;}
    12% {left: -12%;}
    14% {left: -14%;}
    16% {left: -16%;}
    18% {left: -18%;}
    20% {left: -20%;}
    22% {left: -22%;}
    24% {left: -24%;}
    26% {left: -26%;}
    28% {left: -28%;}
    30% {left: -30%;}
    32% {left: -32%;}
    34% {left: -34%;}
    36% {left: -36%;}
    38% {left: -38%;}
    40% {left: -40%;}
    42% {left: -42%;}
    44% {left: -44%;}
    46% {left: -46%;}
    48% {left: -48%;}
    50% {left: -50%;}
    52% {left: -52%;}
    54% {left: -54%;}
    56% {left: -56%;}
    58% {left: -58%;}
    60% {left: -60%;}
    62% {left: -62%;}
    64% {left: -64%;}
    66% {left: -66%;}
    68% {left: -68%;}
    70% {left: -70%;}
    72% {left: -72%;}
    74% {left: -74%;}
    76% {left: -76%;}
    78% {left: -78%;}
    80% {left: -80%;}
    82% {left: -82%;}
    84% {left: -84%;}
    86% {left: -86%;}
    88% {left: -88%;}
    90% {left: -90%;}
    92% {left: -92%;}
    94% {left: -94%;}
    96% {left: -96%;}
    98% {left: -98%;}
    100% {left: -100%;}
}

@keyframes squareSlide{
    0% {left: 0%;}
    100% {left: -100%;}
}

@keyframes bgLoop {
    0%{background-color: rgb(230, 3, 3);}
    6%{background-color: rgb(0, 0, 0);}
    12%{background-color: rgb(240, 197, 5);}
    20%{background-color: rgb(0, 0, 0);}
    28%{background-color: rgb(40, 209, 6);}
    36%{background-color: rgb(0, 0, 0);}
    44%{background-color: rgb(14, 187, 115);}
    52%{background-color: rgb(0, 0, 0);}
    60%{background-color: rgb(6, 90, 185);}
    68%{background-color: rgb(0, 0, 0);}
    76%{background-color: rgb(10, 7, 170);}
    84%{background-color: rgb(0, 0, 0);}
    92%{background-color: rgb(173, 14, 212);}
    100%{background-color: rgb(0, 0, 0);}
}

@keyframes stripeLoop {
    0%{border-right: solid rgb(255, 255, 255);}
    6%{border-right: solid rgb(0, 0, 0);}
    12%{border-right: solid rgb(255, 255, 255);}
    20%{border-right: solid rgb(0, 0, 0);}
    28%{border-right: solid rgb(255, 255, 255);}
    36%{border-right: solid rgb(0, 0, 0);}
    44%{border-right: solid rgb(255, 255, 255);}
    52%{border-right: solid rgb(0, 0, 0);}
    60%{border-right: solid rgb(255, 255, 255);}
    68%{border-right: solid rgb(0, 0, 0);}
    76%{border-right: solid rgb(255, 255, 255);}
    84%{border-right: solid rgb(0, 0, 0);}
    92%{border-right: solid rgb(255, 255, 255);}
    100%{border-right: solid rgb(0, 0, 0);}
}

@keyframes groundLoop{
    0%{border-top: solid rgb(255, 255, 255);}
    6%{border-top: solid rgb(0, 0, 0);}
    12%{border-top: solid rgb(255, 255, 255);}
    20%{border-top: solid rgb(0, 0, 0);}
    28%{border-top: solid rgb(255, 255, 255);}
    36%{border-top: solid rgb(0, 0, 0);}
    44%{border-top: solid rgb(255, 255, 255);}
    52%{border-top: solid rgb(0, 0, 0);}
    60%{border-top: solid rgb(255, 255, 255);}
    68%{border-top: solid rgb(0, 0, 0);}
    76%{border-top: solid rgb(255, 255, 255);}
    84%{border-top: solid rgb(0, 0, 0);}
    92%{border-top: solid rgb(255, 255, 255);}
    100%{border-top: solid rgb(0, 0, 0);}
}

@keyframes squareLoop {
    0%{border: solid rgb(255, 255, 255);}
    6%{border: solid rgb(0, 0, 0);}
    12%{border: solid rgb(255, 255, 255);}
    20%{border: solid rgb(0, 0, 0);}
    28%{border: solid rgb(255, 255, 255);}
    36%{border: solid rgb(0, 0, 0);}
    44%{border: solid rgb(255, 255, 255);}
    52%{border: solid rgb(0, 0, 0);}
    60%{border: solid rgb(255, 255, 255);}
    68%{border: solid rgb(0, 0, 0);}
    76%{border: solid rgb(255, 255, 255);}
    84%{border: solid rgb(0, 0, 0);}
    92%{border: solid rgb(255, 255, 255);}
    100%{border: solid rgb(0, 0, 0);}
}

@keyframes cube {
    0% {right: 80%;}

    3%{transform: rotate(0deg);bottom:0vh;}
    3.5%{transform: rotate(18deg); bottom: 0.5vh;}
    4%{transform: rotate(36deg); bottom: 1vh;}
    4.5%{transform: rotate(54deg); bottom: 1.5vh;}
    5%{transform: rotate(72deg); bottom: 2vh;}
    5.5%{transform: rotate(90deg); bottom: 2.5vh;}
    6%{transform: rotate(108deg); bottom: 3vh;}
    6.5%{transform: rotate(126deg); bottom: 3.5vh;}
    7%{transform: rotate(144deg); bottom: 4vh;}
    7.5%{transform: rotate(162deg); bottom: 4.5vh;}
    8%{transform: rotate(180deg); bottom: 5vh;}
    8.5%{bottom:4vh;}
    9%{bottom: 3vh;}
    9.5%{bottom: 2vh;}
    10%{bottom: 1vh;}
    10.5%{bottom: 0vh;}
 

    30%{transform: rotate(180deg);bottom:0vh;}
    30.5%{transform: rotate(198deg); bottom: 0.5vh;}
    31%{transform: rotate(216deg); bottom: 1vh;}
    31.5%{transform: rotate(234deg); bottom: 1.5vh;}
    32%{transform: rotate(252deg); bottom: 2vh;}
    32.5%{transform: rotate(270deg); bottom: 2.5vh;}
    33%{transform: rotate(288deg); bottom: 3vh;}
    33.5%{transform: rotate(306deg); bottom: 3.5vh;}
    34%{transform: rotate(324deg); bottom: 4vh;}
    34.5%{transform: rotate(342deg); bottom: 4.5vh;}
    35%{transform: rotate(360deg); bottom: 5vh;}
    35.5%{bottom:4vh;}
    36%{bottom: 3vh;}
    36.5%{bottom: 2vh;}
    37%{bottom: 1vh;}
    37.5%{bottom: 0vh;}

    38%{transform: rotate(360deg);bottom:0vh;}
    38.5%{transform: rotate(378deg); bottom: 0.5vh;}
    39%{transform: rotate(396deg); bottom: 1vh;}
    39.5%{transform: rotate(414deg); bottom: 1.5vh;}
    40%{transform: rotate(432deg); bottom: 2vh;}
    40.5%{transform: rotate(450deg); bottom: 2.5vh;}
    41%{transform: rotate(468deg); bottom: 3vh;}
    41.5%{transform: rotate(486deg); bottom: 3.5vh;}
    42%{transform: rotate(504deg); bottom: 4vh;}
    42.5%{transform: rotate(522deg); bottom: 4.5vh;}
    43%{transform: rotate(540deg); bottom: 5vh;}
    43.5%{bottom:4vh;}
    44%{bottom: 3vh;}
    44.5%{bottom: 2vh;}
    45%{bottom: 1vh;}
    45.5%{bottom: 0vh;}

    

    100%{right: -2500%; transform: rotate(540deg);}
}

@keyframes piramid {
    0%{transform: rotate(36deg); }
    10%{right: 60%; bottom: 30vh;}
    15%{transform: rotate(-36deg);}
    20%{right: -150%; bottom: 55vh;}
    25%{transform: rotate(36deg);}
    30%{right: -500%; bottom: 10vh;}
    35%{transform: rotate(-36deg);}
    40%{right: -750%; bottom: 45vh;}
    45%{transform: rotate(36deg);}
    50%{right: -1000%; bottom: 5vh;}
    55%{transform: rotate(-36deg);}
    60%{right: -1250%; bottom: 35vh;}
    65%{transform: rotate(36deg);}
    70%{right: -1350%; bottom: 25vh;}
    75%{transform: rotate(-36deg);}
    80%{right: -1700%; bottom: 60vh;}
    85%{transform: rotate(36deg);}
    90%{right: -2100%; bottom: 25vh;}
    95%{transform: rotate(-36deg);}
    100%{right: -2400%; bottom: 45vh; transform: rotate(-36deg);}
}

